* {
  box-sizing: border-box;
}
html, body, #app, #root{
  height: 100%
}
/* Header/logo Title */
.header {
  padding: 1px;
  background: black;
  color: white;
}
.header-name {
  padding-left: 2%;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  height: 80%
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 15%;
  background-color: #f1f1f1;
  padding: 10px;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  margin-top: 1%;
}

/* Main column */
.main {
  flex: 50%;
  background-color: white;
  padding: 10px;
  margin-top: 1%;
  margin-left: 11%;
  margin-right: 11%;
}

.taskField{
  max-width: 100%;
}
.taskFieldInput {
  padding: 15px;
  border:1px solid #607d8b;
  border-radius: 5px;
}
#standard-textarea:focus > .taskFieldInput{
  padding: 15px;
  border:2px solid red;
  border-radius: 5px;
}
/* set the time and add module */
.addTaskContainer {
  margin-top: 20px;
  height: 30px;
  width: 100%;
  display: flex;
  /* background-color:#f8f8f8; */
}

.addTask-btn {
  background-color: #008CBA;
  color: white;
  border-radius: 12px;
  text-align: center;
  margin-left: auto;
}

/* Footer */
.footer {
  padding: 1px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}




.taskInput {
  width: 80%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 20px;
  resize: none;
}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
