* {
  box-sizing: border-box;
}
html, body, #app, #root{
  height: 100%
}
/* Header/logo Title */
.header {
  padding: 1px;
  background: #0b2941;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 10px solid #2196F3;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 3px;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  height: 90%
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 8%;
  background-color: #f1f1f1;
  padding-top: 5px;
  border-right: 1px solid rgb(255, 255, 255);
}

.time-select {
  background-color: #fff;
  color: #2196F3;
  font-weight: 500;
  padding: 15px;
  margin: 2%;
}

.time-select:hover {
  background-color: #d5e2ed;
  border-right: 5px solid #2196F3;
  margin-right: 0;
  transition-delay: 30ms;
}

/* Main column */
.main {
  flex: 50%;
  background-color: white;
  padding: 5px;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
}

.timer {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 5px;
  z-index: 2;
  text-align: center;
}

.taskField{
  max-width: 100%;
}
.taskFieldInput {
  padding: 15px;
  border:1px solid #607d8b;
  border-radius: 5px;
}

#standard-textarea:focus > .taskFieldInput{
  padding: 15px;
  border:2px solid red;
  border-radius: 5px;
}
/* set the time and add module */
.addTaskContainer {
  margin-top: 20px;
  height: 30px;
  width: 100%;
  display: flex;
  /* background-color:#f8f8f8; */
}

.addTask-btn {
  background-color: #008CBA;
  color: white;
  border-radius: 12px;
  text-align: center;
  margin-left: auto;
}

/* Footer */
.footer {
  padding: 1px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

.overdued {
  font-style: oblique;
  color: rgb(240, 35, 35);
}

.alert {
  float : inline-end;
  border: #0b2941 1px solid;
}

.finished {
  text-decoration: line-through;
}

.taskInput {
  width: 80%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 20px;
  resize: none;
}

/* DateTime.js */
.calendar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.weekday {
  font-weight: 600;
  font-size: 15;
  color: #9b9b9b;
  text-transform: uppercase;
  margin-bottom: -3px;
}

.calendarDay {
  font-weight: 700;
  font-size: 41.31px;
  line-height: 44.26px;
  margin-bottom: -3px;
}

.calendarMonth {
  font-size: 15;
  line-height: 1.2;
  color: #d8d8d8;
}

/* PriorityConverter.js */
.low-priority {
  color: #61dafb;
}

.medium-priority {
  color: goldenrod;
}

.high-priority {
  color: purple;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
